<footer class="bg-dark text-light mt-5 pt-5 pb-4">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-5">

                <h4 class="fw-bold">
                    ⚽ Football News
                </h4>

                <p class="text-secondary mb-0">
                    Nền tảng cập nhật tin tức bóng đá nhanh chóng,
                    chính xác và liên tục từ các giải đấu hàng đầu thế giới.
                </p>

            </div>

            <div class="col-lg-3">

                <h6 class="fw-bold mb-3">
                    Chuyên mục
                </h6>

                <ul class="list-unstyled">

                    <li>
                        <a
                            href="/"
                            class="text-secondary text-decoration-none"
                        >
                            Tin mới
                        </a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="text-secondary text-decoration-none"
                        >
                            Chuyển nhượng
                        </a>
                    </li>

                    <li>
                        <a
                            href="#"
                            class="text-secondary text-decoration-none"
                        >
                            Champions League
                        </a>
                    </li>

                </ul>

            </div>

            <div class="col-lg-4 text-lg-end">

                <h6 class="fw-bold mb-3">
                    Football News
                </h6>

                <p class="text-secondary mb-0">
                    © 2026 All Rights Reserved
                </p>

            </div>

        </div>

    </div>

</footer>